.portfolio{width:1480px; margin:0 auto; padding:0 20px;}
/***** 포트폴리오 리스트 *****/
.portfolio .port_list{width:100%; margin-top:200px;}
.portfolio .port_list .port_box{display:flex; justify-content:space-between; margin-bottom:200px;}
.portfolio .port_list .port_box:last-child{margin-bottom:0;}
.portfolio .port_list .port_box .port_img{width:825px;}
.portfolio .port_list .port_box .port_info{width:615px; margin-top:30px; padding-left:75px; color:#333;}
.portfolio .port_list .port_box .port_info h3{font-size:40px; font-weight:700;}
.portfolio .port_list .port_box .port_info p{margin-top:10px; line-height:26px; font-size:18px; font-weight:400; word-break:keep-all;}
.portfolio .port_list .port_box .port_info a{margin-top:50px;}
.portfolio .port_list .port_box:nth-child(even) .port_info{order:1; padding-left:0; padding-right:75px;}
.portfolio .port_list .port_box:nth-child(even) .port_img{order:2;}
/***** 클라이언트 *****/
.portfolio .clients_list{margin-top:60px;}
.portfolio .clients_list{display:flex; flex-direction:row; flex-wrap:wrap; justify-content:flex-start; gap:50px 36px; margin-top:60px;}
.portfolio .clients_list .card_box{display:none; position:relative;}
.portfolio .clients_list .card{width:210px; height:210px; line-height:210px; text-align:center;}
.portfolio .clients_list .card .box{position:absolute; width:100%; height:100%; border-radius:105px; backface-visibility:hidden;}
.portfolio .clients_list .card .box img{vertical-align:middle;}
.portfolio .clients_list .card .front{background-color:#fff; border:solid 1px #ddd;}
.portfolio .clients_list .card .back{display:none; background-color:#43C5DB; rotate:();}
.portfolio .clients_list .card .back.show{display:block;}
.portfolio .clients_list .tolltip{visibility:hidden; position:absolute; left:50%; bottom:250px; z-index:2; padding:20px; line-height:28px; color:#333; font-size:16px; font-weight:400; white-space:nowrap; background-color:#fff; border:solid 1px #ddd; border-radius:10px; transform:translateX(-50%); opacity:0; transition:all .5s ease;}
.portfolio .clients_list .tolltip.over{visibility:visible; bottom:220px; opacity:1;}
/***** 포트폴리오 레이어 *****/
.portfolio_layer{display:none; position:fixed; top:0; right:0; bottom:0; left:0; z-index:100; background-color:rgba(0, 0, 0, .4);}
.portfolio_layer .close_layer{position:fixed; top:calc(10% + 35px); right:40px; z-index:130; background:transparent; border:0; cursor:pointer; transition:transform .4s ease;}
.portfolio_layer .close_layer:hover{transform:rotate(180deg);}
.portfolio_layer .cate_tit{font-size:80px; font-weight:700; color:#333; letter-spacing:-0.04em;}
.portfolio_layer .progress{position:relative; width:100%; height:5px; background-color:#eee;}
.portfolio_layer .progress .progress_bar{position:absolute; top:0; left:0; width:0; height:5px; background-color:#43C5DB; transition:width .3s ease-out;}
.portfolio_layer .portfolio_info{margin-top:50px;}
.portfolio_layer .portfolio_info .tit{display:block; line-height:38px; font-size:30px; color:#333; word-break:keep-all;}
.portfolio_layer .portfolio_info .list{display:flex; margin-top:23px; font-size:18px;}
.portfolio_layer .portfolio_info .list .info{display:flex; color:#43C5DB;}
.portfolio_layer .portfolio_info .list .type{display:flex; position:relative; padding-left:20px; color:#333;}
.portfolio_layer .portfolio_info .list .type:before{content:''; display:block; width:5px; height:5px; position:absolute; left:0; top:50%; background-color:#ddd; border-radius:50%; transform:translateY(-50%);}
.portfolio_layer .portfolio_info .list span{margin-right:15px;}
.portfolio_layer .portfolio_info .desc{margin-top:40px; line-height:26px; word-break:keep-all; font-size:18px; font-weight:400; color:#333;}
.portfolio_layer .portfolio_info .btn{margin-top:60px;}
/*** 카테고리 ***/
.portfolio_layer .cate_area{position:fixed; top:7%; right:0; bottom:7%; left:0; z-index:110; background-color:#fff;}
.portfolio_layer .cate_area .cate_cnt{position:relative; width:1480px; height:100%; margin:0 auto; padding:0 20px;}
.portfolio_layer .cate_area .cate_cnt:after{content:''; display:block; clear:both;}
.portfolio_layer .cate_area .cate_cnt .cate_tit{position:absolute; left:20px; top:50%; transform:translateY(-50%);}
.scroll_box{position:relative; z-index:200;}
.portfolio_layer .cate_area .cate_cnt .cate_scroll{overflow-y:auto; height:calc(100% - 5px); padding:100px 0;}
.portfolio_layer .cate_area .cate_cnt .cate_scroll .mCSB_draggerContainer{display:none;}
.portfolio_layer .cate_area .cate_cnt .cate_scroll .mCSB_inside .mCSB_container{margin:0;}
.portfolio_layer .cate_area .cate_cnt .portfolio_list{float:right;}
.portfolio_layer .cate_area .cate_cnt .portfolio_list li{margin-top:200px;}
.portfolio_layer .cate_area .cate_cnt .portfolio_list li:first-child{margin-top:0;}
/* 스크롤바 안보이게 */
.portfolio_layer .cate_area .cate_cnt .cate_scroll{-ms-overflow-style:none; scrollbar-width:none;}
.portfolio_layer .cate_area .cate_cnt .cate_scroll::-webkit-scrollbar{display:none;}
/*** 포트폴리오 ***/
.portfolio_layer .port_area{display:none; position:fixed; top:7%; right:0; bottom:7%; left:0; z-index:120; background-color:#fff;}
.portfolio_layer .port_area .port_item{display:none; overflow:hidden; height:100%;}
.portfolio_layer .port_area .port_item.show{display:block;}
.portfolio_layer .port_area .port_cnt{display:flex; justify-content:center; position:relative; width:1480px; height:100%; margin:0 auto; padding:0 20px;}
.portfolio_layer .port_area .port_cnt .port_desc{overflow:hidden; width:540px; height:calc(100% - 5px); margin-right:75px; padding-top:150px;}
.portfolio_layer .port_area .port_cnt .port_desc .cate_tit{}
.portfolio_layer .port_area .port_cnt .port_scroll{overflow-y:auto; height:calc(100% - 5px); padding:100px 0;}
.portfolio_layer .port_area .port_cnt .port_scroll p{margin-top:40px;}
.portfolio_layer .port_area .port_cnt .port_scroll p:first-child{margin-top:0;}
/* 스크롤바 안보이게 */
.portfolio_layer .port_area .port_cnt .port_scroll{-ms-overflow-style:none; scrollbar-width:none;}
.portfolio_layer .port_area .port_cnt .port_scroll::-webkit-scrollbar{display:none;}
